@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  font-family: "Open Sans", sans-serif;
  color: #060606;
  text-align: center;
}

h2 {
  font-family: "Great Vibes", cursive;
  font-size: 2.5rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 0.8rem;
}

.menu {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  display: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f5f3f3;
}

.btn__container {
  margin: 0 auto;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(4, 4, 4, 0.5);
}

.filter__btn {
  width: 90px;
  height: 30px;
  font: inherit;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: all 0.5s ease-in;
  margin: 5px;
  border-radius: 4px;
}

.filter__btn:hover {
  background-color: #2d2424;
  color: #fff;
}

.main__content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 2rem;
  justify-content: center;
  align-items: center;
  background-color: #F5DEB3	;
}

.menu__item {
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.item__photo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: -100px;
  overflow: hidden;
  cursor: pointer;
}

.item__photo:hover {
  transform: scale(1.1);
  transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.item__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item__info {
  height: 80px;
  width: 180px;
  margin-top: 100px;
  margin-left: -250px;
  text-transform: capitalize;
  background-color: #fff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 10px;
  z-index: 1000;
}

.description {
  color: #4b3e3e;
}
.titulo{
    font-family: "Pacifico", cursive;
    font-weight: 1000;
}
.textoapoio{
  background-color: #F5DEB3	;
}

section#beneficios .container{
  display: flex;   
  justify-content: space-between;
  margin: 30px auto;
}

section#beneficios .card{
  width: 30%;
  padding: 30px;   
  border-radius: 15px;
  transition: 0.3s;
}

section#beneficios .card:hover{
  box-shadow: 0px 10px 67px 8px #e6e6fa86;
}

section#beneficios .card img{
  width: 60px;
}

section#beneficios .card p{
  text-align: justify;
  color: gray;
}

section#beneficios .card .titulo{
  margin: 13px 0;
  font-weight: 600;
  color: var(--azul);
}

.agricultura .container{
  display: flex;
  align-items: center;
}
.agricultura .agricultura-img{
  width: 50%;
}
.agricultura .agricultura-img img{
  width: 100%;
  border-radius: 10px;
}
.agricultura .agricultura-text{
  width: 50%;
  padding-left: 90px;
}
.agricultura .agricultura-text h2{
  font-size: 2rem;
  color: var(--azul);
}

.agricultura .agricultura-text p{
  margin: 20px 0;
  text-align: justify;
  color: gray;
}

section#tecnologias h2{
  font-size: 2rem;
  color: var(--azul);
}

section#tecnologias .cards{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

section#tecnologias .card-item:hover{
  box-shadow: 0px 10px 67px 8px #e6e6fa86;
}

section#tecnologias .cards .card-item{
  width: 30%;
  padding: 30px;
  border-radius: 20px;
  transition: 0.3s;
}

section#tecnologias .cards img{
  width: 60px;
}

section#tecnologias .cards .texto-card{
  margin: 5px 0;
  text-align: justify;
  color: gray;
}

section#tecnologias .cards .titulo-card{
  font-size: 30px;
  font-weight: 500;
  color: var(--azul);
}

footer{
  background-color: var(--verde-escuro);
}
footer .container{
  display: flex;
  color: white;
}
footer .container ul{
  width: 25%;
}
footer .container h3{
  margin-bottom: 16px;
  font-weight: 600;
}

footer .container ul > p{
  margin-bottom: 40px;
}
footer .container li{
  margin: 10px 0;
}
footer .container a{
  color: white;
}


@media (max-width: 960px){
  .menu-icon{
      display: block;
  }
  .ul{
      position: fixed;
      background: var(--verde-escuro);
      top: 0;
      width: 100%;
      height: 100%;
      left: 100%;
      transition: 0.3s;
      flex-direction: column;
      justify-content: center;
  }
  .ul li{
      font-size: 20px;
      margin: 20px 0;
  }
  .ul.ativo{
      left: 0;
  }
  main .container{
      flex-direction: column;
  }
  main .container .main-img,
  main .container .main-text{
      width: 100%;
      text-align: center;
  }
  main .container .main-text h1{
      font-size: 4rem;
  }
  main .container .main-text div{
      justify-content: center;
  }
  .dados .container{
      flex-direction: column;
  }
  .dados .dados-text,
  .dados .dados-numero{
      width: 100%;
      text-align: center;
  }
  .dados-numero{
      margin-top: 30px;
  }
  section#beneficios .container{
      flex-direction: column;
  }
  section#beneficios .card{
      width: 100%;
  }
  .agricultura .container{
      flex-direction: column-reverse;
  }
  .agricultura .agricultura-text,
  .agricultura .agricultura-img{
      width: 100%;
      text-align: center;
      padding: 0;
  }
  section#tecnologias .cards{
      flex-direction: column;
  }
  section#tecnologias .cards .card-item{
      width: 100%;
      margin-top: 50px;
  }
  footer .container{
      flex-direction: column;
  }
  footer .container ul{
      width: 100%;
      margin-bottom: 30px;
  }
}

@media (max-width: 440px){
  .dados .dados-numero{
      flex-direction: column;
  }
  main .container .main-text h1{
      font-size: 3rem;
  }
}